{{> header}}
 <title>TheRunner - Page Not Found</title>
</head>
<body>
{{> topnav}}

<div class="row justify-content-center mt-5 page-not-found">
  <div class="col-8" style="text-align: center">
    <h1 class="page-not-found">Page Not Found</h1>
  </div>
</div>

<script src="/js/404.js"></script>
</body>
</html>
