{{> header}}
  <title>Snek</title>
</head>
<body>
{{> topnav}}

<div class="row justify-content-center mr-0 ml-0">
  <div class="col-8">
    <div class="alert alert-warning" role="alert">
      <div class="row">
        <div class="col" style="text-align: center; font-size: 30px;">
          Site under construction
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>